.dashboard-container {
    padding: 20px;
    transition: margin-right 0.4s ease;
}

.side-panel {
    position: fixed;
    right: -300px;
    top: 0;
    width: 300px;
    height: 100vh;
    background: black;
    color: white;
    transition: right 0.4s ease;
    z-index: 9999;
    padding-top: 30px;
}

.side-panel-active {
    right: 0;
}

.body-shrink {
    margin-right: 300px;
}

.icon-hover {
    cursor: pointer;
    font-size: 20px;
}

    .icon-hover:hover {
        color: #0dcaf0;
    }
